@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');

$bpilogo-blue: #95B3D7;
$bpilogo-grey: #555555;
$bpilogo-green: #C3D69B;
$bpilogo-brown: #948A54;
$site-grey: #4c4845;
$site-black: #212427;

$nav-height: 65px;
$gutter: 50px;

html{
    scroll-behavior:smooth
}

body {
    margin: 0;
    padding: 0;
    font-family: 'FFDINWebLight', sans-serif;
    font-size: 20px;
    line-height: 33px;
}

* {
    box-sizing: border-box;
  }

@mixin cleanList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@mixin cleanLink {
    a {
        text-decoration:none !important;
    }
}

@mixin partialWidth {
    width: 70%;
    max-width: 800px;
}

#nav-bar {
    z-index: 1000;
    $gap-distance: 35px;

    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: $nav-height;

    display: flex;
    justify-content: space-between;

    background-color: white;

    .logo {
        margin-left: $gap-distance;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        .logo-text {
            h1 {
                font-size: 40px;
                color: $site-black;;
            }
    
        }

        img {
            width: 60px; height: 60px;
        }
    }

    ul {
        @include cleanList;
        @include cleanLink;
        display: flex;
        justify-content: right;
        align-items: center;
        flex-shrink: 2;

        font-size: 1.1rem;
        font-weight: 100;
        text-align: center;
        line-height: normal;

        gap: $gap-distance;
        padding: 0 $gap-distance;

        a {
            $nav-colour: $site-black;;

            color: $nav-colour;
            &:visited {
                color: $nav-colour
            }
            &:hover {
                color: $bpilogo-blue;
            }
        }

        .socials {
            display: flex;
            gap: calc($gap-distance / 5);
            
            a {
                display: flex;
                flex-direction: column;     /* make main axis horizontal (default setting) */
                justify-content: space-around; /* center items horizontally, in this case */
                align-items: center;
            }

            img {
                width: 25px;
                height: 25px;
                opacity: 70%;
            }
        }
    }

    $nav-trans-speed: 1s;

    &.nav-bar-hidden {
        transition: $nav-trans-speed;
        transform: translateY(calc(-1 * $nav-height));
    }

    &.nav-bar-not-hidden {
        transition: $nav-trans-speed;
    }
}

#landing {
    // background-image: url('./images/glovebox-exterior2.jpeg');
    background-image: url('https://uploads-ssl.webflow.com/58caaa4eca21145179969d22/5a7346c27df81800011489ff_Spectrum%20Square%20-%20Sweeny%26Co%20Architects%20-%20P06_LR%20-%20doublespace%20photography%20-%20exterior%20evening%20west%20facade.jpg');
    background-size: cover;
    background-position: bottom;
    margin: auto;
    height: 100vh;
    width: 100%;
    

    display: flex;
    justify-content: center;
    align-items: center;

    #landing-title {
        text-align: center;
        background-color: white;
        background: rgba(255,255,255,.6);
        padding: 1rem;
    }
}

#content {
    // padding-top: $nav-height;

    display: flex;
    flex-direction: column;
    align-items: center;    
}

#about {
    margin: $gutter;

    #main-about {
        // text-align: justify;
        // display: flex;
        // justify-content: space-between;
        display: inline-block;
        // gap: 30px;

        #dave-card {
            display: inline-block;
            // width: 1000px;
            // height: 200px;
            // border: solid black;
        }
    }

    #bpi-awards {
        @include cleanList;
        @include cleanLink;

        a {
            $award-colour: $bpilogo-brown;
            color: $award-colour;
            &:visited {
                color: $award-colour
            }
            &:hover {
                color: $site-black;
            }
        }
    }
}

#services {
    padding: $gutter;
    background-color: #ddd;

    .cards {
        @media only screen and (max-width: 850px){
            flex-direction: column;
            justify-content: center;

            .card {
                width: 100% !important;
                background-color: #C3D69B;
            }
        }

        display: flex;
        justify-content: space-between;
        align-content: center;
        gap: 5%;

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 33%;

            .image {
                border-radius: 50%;
                overflow: hidden;
                max-height: 200px;
                max-width: 200px;
            }
        }
    }
}

#projects {
    margin: $gutter;

    font-size: medium;

    #projects-overview {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;

        @media only screen and (max-width: 850px){
            grid-template-columns: 1fr;
        }
    
        

        .project {

            .img-container {
                position: relative;
                text-align: center;

                img {
                    height: 50vh;
                    width: 100%;
                    margin: 5px 0;
                    transition: 0.5s;
                    object-fit: cover;
                    object-position: bottom;
                    vertical-align: middle;
        
                    &:hover {
                        transition: 0.5s;
                        -webkit-filter: brightness(30%);
                    }
    
                    @media only screen and (max-width: 400px) {
                        height: 30vh;
                    }
                }

                .hidden-overlay{
                    position: absolute;
                    bottom: 8px;
                    left: 16px;
                    color: red;
                    opacity:0;

                }
            }

            .header {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                gap: 2px;

                line-height: normal;

                @media only screen and (max-width: 800px) {
                    flex-direction: column;
                    align-items: flex-start;
                }

                .name {
                    text-transform: uppercase;
                    letter-spacing: .01em;
                    text-align: left !important;
                }

                > * {
                    padding: 0;
                    margin: 0;
                }
            }

            @mixin project-minor-text {
                font-weight: 100;
                padding: 0;
                margin: 0;
            }

            .minor {
                @include project-minor-text();
                text-align: right;

            }

            .address {
                @include project-minor-text();

                display: flex;
                justify-content:baseline;
                vertical-align: top;
            }
        }
    }
}

#testimonials {
    background-color: $bpilogo-blue;
    color: #FFF;

    width: 100%;
    min-height: 100vh;
    padding: $gutter;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 100%;


    h3 {
        font-size: 53px;
        font-family: 'FFDINWebConBold', sans-serif;
        letter-spacing: .02em;
        line-height: 56px;

        margin: 0;

        max-width: 750px;
    }
    
    #reccomendation {
        max-width: 1100px;

        #rec-quote {
            font-size: 27px;
            font-style: italic;
            font-weight: 100;
            line-height: 52px;
        }

        #rec-name {
            font-size: 22px;
            text-transform: uppercase;
            margin: 100px 0 0 0;

        }

        #rec-title {
            font-size: 18px;
            color: rgb(233, 233, 233);
            text-transform: uppercase;
            margin-top: 0;
        }
    }

    #rec-btns {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .selected {
            opacity: 80% !important;
        }

        .rec-btn {
            background-color: white;
            opacity: 50%;
            border-radius: 50%;
            border: none;
            padding: 6px;

            &:hover {
                opacity: 100% !important;
            }
        }
    }

}

#clients {
    padding: $gutter;

    #client-list {
        border: solid green;
        @include cleanList;
        @include cleanLink;

        ul {
            padding: 0;

            $d-columns: 2;
            $d-gap: 90px;

            columns: $d-columns;
            -webkit-columns: $d-columns;
            -moz-columns: $d-columns;

            column-gap: $d-gap;
            -webkit-column-gap: $d-gap;
            -moz-column-gap: $d-gap;

            column-fill: balance;
            page-break-inside: avoid;
            break-inside: avoid-column;

            @media only screen and (max-width: 800px) {
                $m-columns: 1;
                columns: $m-columns;
                -webkit-columns: $m-columns;
                -moz-columns: $m-columns;
            }

            .client {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 30px;
                

                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;


                    $award-colour: $bpilogo-grey;
                    color: $award-colour;
                    &:visited {
                        color: $award-colour
                    }
                    &:hover {
                        color: $bpilogo-grey;
                    }
                    img {
                        margin: 10px;
                        max-height: 100px;
                        width: auto;
                        transition: 0.5s;

                        &:hover {
                            transform: scale(1.05);
                            transition: 0.5s;
                        }
                    }
                }
            }
        }
    }
}

footer {
    $footer-colour: white;
    font-size: 1.1rem;
    font-weight: 100;

    margin: 0;
    padding: 7% 7% 20px 7%;
    background-color: $site-black;
    color: $footer-colour;

    #footer-content {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
        gap: 10%;
        padding-bottom: 40px;

        h3, p {
            margin: 0;
            font-size: 1rem;
        }

        h3 {
            font-weight: 100;
        }

        p {
            font-weight: 600;
        }


        #footer-socials {
            #footer-socials-logos {
                display: flex;
                flex-direction: row;
                gap: 10px;
    
                img {
                    width: 40px; height: 40px;
                }
            }
        }

        @media only screen and (max-width: 700px) {
            flex-direction: column;
            grid-template-columns: auto;
            grid-template-rows: 1fr 1fr;
        }
    }

    hr.solid {

        background-color: white;
        border: 0.1pt solid white;
    }

    #footer-meta {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        font-size: smaller;

        p {
            margin: 0;
            color: rgb(156, 156, 156)
        }

        #jake-signoff {
            @include cleanLink;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;
            gap: 5px;

            a {   
                p {
                    margin: 0;
                }
                
                color: $footer-colour;
                &:visited {
                    color: $footer-colour
                }
                &:hover {
                    color: $footer-colour;
                }
            }
        }
    }
    

}

.section {
    text-align: center;
    // max-width: 800px;
    margin: 70px 0 0 0;
    color: $site-black;
    // margin-bottom: 300px;x

    .section-header {
        color: black;

        &:before, &:after {
            content: "";
            background-color: #000;
            display: inline-block;
            height: 2px;
            position: relative;
            vertical-align: middle;
            width: 9%;
          }

          &:before {
            right: 0.5em;
            margin-left: -50%;
          }
          
          &:after {
            left: 0.5em;
            margin-right: -50%;
          }
    }
}

