@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');

$bpilogo-blue: #95B3D7;
$bpilogo-grey: #555555;
$bpilogo-green: #C3D69B;
$bpilogo-brown: #948A54;
$site-grey: #4c4845;

$nav-height: 65px;

html{scroll-behavior:smooth}

body {
    margin: 0;
    padding: 0;
    font-family: 'FFDINWebLight', sans-serif;
    font-size: 20px;
    line-height: 33px;
}

@mixin cleanList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@mixin cleanLink {
    a {
        text-decoration:none !important;
    }
}

@mixin partialWidth {
    width: 70%;
    max-width: 800px;
}

#nav-bar {
    $gap-distance: 35px;

    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: $nav-height;

    display: flex;
    justify-content: space-between;

    background-color: white;

    .logo {
        margin-left: $gap-distance;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        .logo-text {
            h1 {
                font-size: 40px;
                color: $bpilogo-grey;
            }
    
        }

        img {
            width: 60px; height: 60px;
        }
    }

    ul {
        @include cleanList;
        @include cleanLink;
        display: flex;
        justify-content: right;
        align-items: center;
        flex-shrink: 2;

        font-size: 1.1rem;
        font-weight: 100;
        text-align: center;
        line-height: normal;

        gap: $gap-distance;
        padding: 0 $gap-distance;

        a {
            $nav-colour: black;

            color: $nav-colour;
            &:visited {
                color: $nav-colour
            }
            &:hover {
                color: $bpilogo-blue;
            }
        }

        .socials {
            display: flex;
            gap: calc($gap-distance / 5);
            
            a {
                display: flex;
                flex-direction: column;     /* make main axis horizontal (default setting) */
                justify-content: space-around; /* center items horizontally, in this case */
                align-items: center;
            }

            img {
                width: 25px;
                height: 25px;
                opacity: 70%;
            }
        }
    }

    $nav-trans-speed: 1s;

    &.nav-bar-hidden {
        transition: $nav-trans-speed;
        transform: translateY(calc(-1 * $nav-height));
    }

    &.nav-bar-not-hidden {
        transition: $nav-trans-speed;
    }
}

#landing {
    // background-image: url('./images/glovebox-exterior2.jpeg');
    background-image: url('https://images.wallpaperscraft.com/image/single/bridge_railway_construction_129619_3840x2400.jpg');
    background-size: cover;
    background-position: center;
    margin: auto;
    height: 100vh;
    width: 100%;
    

    display: flex;
    justify-content: center;
    align-items: center;

    #landing-title {
        text-align: center;
        background-color: white;
        background: rgba(255,255,255,.6);
        padding: 1rem;
    }
}

#content {
    // padding-top: $nav-height;

    display: flex;
    flex-direction: column;
    align-items: center;    
}

#about {

    #main-about {
        text-align: left;
        display: flex;
        // justify-content: space-between;
        float:right;
        // gap: 30px;

        #dave-card {
            // width: 1000px;
            // height: 200px;
            // border: solid black;
        }
    }

    #bpi-awards {
        @include cleanList;
        @include cleanLink;

        a {
            $award-colour: $bpilogo-brown;
            color: $award-colour;
            &:visited {
                color: $award-colour
            }
            &:hover {
                color: $bpilogo-grey;
            }
        }
    }
}

#clients {
    #reccomendations {
        width: 100%;
        background-color: $bpilogo-brown;
    }

    #client-list {
        @include cleanList;
        @include cleanLink;

        ul {
            border: solid blue;

            $d-columns: 2;
            columns: 30px $d-columns;
            -webkit-columns: 30px $d-columns;
            -moz-columns: 30px $d-columns;

            column-fill: balance;
            page-break-inside: avoid;
            break-inside: avoid-column;

            @media only screen and (max-width: 768px) {
                $m-columns: 1;
                columns: $m-columns;
                -webkit-columns: $m-columns;
                -moz-columns: $m-columns;
            }

            .client {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 15px;
                border: solid red;

                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;

                    $award-colour: $bpilogo-grey;
                    color: $award-colour;
                    &:visited {
                        color: $award-colour
                    }
                    &:hover {
                        color: $bpilogo-grey;
                    }
                    img {
                        margin: 10px;
                        max-height: 70px;
                        width: auto;
                        // max
                    }
                }
            }
        }
    }
}

footer {
    $footer-colour: white;
    font-size: 1.1rem;
    font-weight: 100;

    margin: 0;
    padding: 10% 10% 0;
    background-color: $site-grey;
    color: $footer-colour;

    #footer-content {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 10%;

        .footer-content-box {
            vertical-align: top;
            // border: solid red;
        }

        #footer-socials {
            #footer-socials-logos {
                display: flex;
                flex-direction: row;
                gap: 10px;
    
                img {
                    width: 40px; height: 40px;
                }
            }
        }
    }

    hr.solid {
        border: 1px solid white;
    }

    #footer-meta {
        display: flex;
        justify-content: space-between;

        margin: 0px;

        #jake-signoff {
            @include cleanLink;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;
            gap: 5px;

            a {   
                p {
                    margin: 0;
                    // padd
                }
                
                color: $footer-colour;
                &:visited {
                    color: $footer-colour
                }
                &:hover {
                    color: $footer-colour;
                }
            }
        }
    }
    

}

.section {
    text-align: center;
    max-width: 800px;
    width: 70%;
    margin: 70px 0 0 0;
    color: $site-grey;

    .section-header {
        color: black;

        &:before, &:after {
            content: "";
            background-color: #000;
            display: inline-block;
            height: 2px;
            position: relative;
            vertical-align: middle;
            width: 9%;
          }

          &:before {
            right: 0.5em;
            margin-left: -50%;
          }
          
          &:after {
            left: 0.5em;
            margin-right: -50%;
          }
    }
}

