@use '../../styles/variables.scss' as v;



#landing {
  height: 100vh;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;

  >* {
    margin: 0;
    padding: 0;
  }

  .cover {
    padding: 70px;
    // background-color: v.$site-black;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: v.$site-black;

    #landing-title {
      text-align: center;
      padding: 1rem;
      color: v.$bpilogo-brown;
    }

    button {
      border-radius: 0px;
      border: solid v.$site-black;
      background-color: v.$bpilogo-green;;
      color: v.$bpilogo-blue;
      align-self: center;
      padding: 20px 100px 18px 100px;
      color: v.$site-black;
      font-family: arial;
      font-size: 1rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-align: center;
      transition: all 0.1s ease-in-out;
      cursor: pointer;

      &:hover {
        // color: white;
        // border: solid v.$bpilogo-blue;
        background: v.$bpilogo-green;
      }

      &:active {
        transform: scale(1.025);
      }
    }
  }

  img {
    height: 100%;
    width: 100%;
  }
}