@use '../../Styles/variables.scss' as v;

footer {
    $footer-colour: white;
    font-size: 1.1rem;
    font-weight: 100;

    margin: 0;
    padding: 7% 7% 20px 7%;
    background-color: v.$site-black;
    color: $footer-colour;

    #footer-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 0 20px 0;
        gap: 5px;

        svg {
            height: 1.5em;
            width: auto;
        }

        ;
    }

    #footer-content {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
        gap: 10%;
        padding-bottom: 40px;

        h3,
        p {
            margin: 0;
            font-size: 1rem;
        }

        h3 {
            font-weight: 100;
        }

        p {
            font-weight: 600;
        }


        #footer-socials {
            ul {
                display: flex;
                flex-direction: row;
                gap: 10px;

                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    a {
                        width: 37px;
                        height: 37px;

                        border: solid white;
                        border-radius: 50%;

                        i {
                            color: white;
                            font-size: larger;

                            position: relative;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }

                        &:hover {
                            background-color: white;

                            i {
                                color: v.$site-black;
                            }
                        }
                    }
                }
            }
        }

        @media only screen and (max-width: 700px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;

            #footer-overview {
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }
    }

    hr.solid {

        background-color: white;
        border: 0.1pt solid white;
    }

    #footer-meta {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        font-size: smaller;

        padding: 10px 0 10px 0;

        p {
            margin: 0;
            color: rgb(156, 156, 156)
        }

        #jake-signoff {
            @include v.cleanLink;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;
            gap: 5px;

            a {
                p {
                    margin: 0;
                }
            }
        }
    }

}