@use '../src/Styles/variables.scss' as v;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
  scroll-behavior: smooth
}

body {
  margin: 0;
  padding: 0;
  font-family: 'FFDINWebLight', sans-serif;
  text-align: justify;
  font-size: 20px;
  // line-height: 33px;
}

* {
  box-sizing: border-box;
}

section > * {
  $tb-margin: 3%;

  // @media only screen and (max-width: v.$phone-width) {
  //   margin: $tb-margin 3%;
  // }

  // @media only screen and (max-width: v.$tablet-width) {
  //   margin: $tb-margin 5%;
  // }

  // @media only screen and (max-width: v.$laptop-width) {
  //   margin: $tb-margin 8%;
  // }

  @media only screen and (max-width: v.$large-width) {
    margin: $tb-margin 9%;
  }
  @media only screen and (min-width: v.$large-width) {
    max-width: 1100px;
    margin: $tb-margin auto;
  }
}

.content-header {
  text-align: center;
}