@use '../../../styles/variables.scss' as v;

#mobile-navbar {
  @media only screen and (min-width: calc(v.$navbar-bp-width + 1px)) {
    display: none;
  }

  #m-nav-topbar {
    z-index: 9999999;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 15px;
    height: v.$nav-height;

    #m-nav-logo {
      display: flex;
      align-items: center;
      gap: 7px;

      h2 {
        color: v.$site-black;
      }

      svg {
        height: 1.3em;
        width: auto;
      }
    }
  }

  #m-nav-dropdown {
    $gap-distance: 35px;

    padding: 30px 30px 150px 30px;

    // drop the menu down slowly
    transition-property: translateX; 
    transition-duration: 1s; 
    transition-timing-function: ease-out; 
  

    background-color: v.$bpilogo-blue;
    height: calc(100vh - v.$nav-height);

    &.hidden {
      // display: none;
      transform: translateX(calc(1 * calc(100vw)));
      // height: 0px;
    }

    #m-nav-links {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      @include v.cleanList;
      @include v.cleanLink;

      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      gap:5%;

      font-size: 1.8rem;
      text-align: left;
      line-height: normal;

      gap: $gap-distance;
      padding: 0 $gap-distance;

      a {
        color: white;
        font-weight: 900;
      }
    }

    #m-nav-socials {
      display: flex;
      flex-direction: row;
      gap: 10px;

      li {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          width: 50px;
          height: 50px;

          border: solid white;
          border-radius: 50%;

          i {
            color: white;
            font-size: 3rem;

            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}