@use '../../../Styles/variables.scss' as v;
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

#desktop-navbar {
    @media only screen and (max-width: v.$navbar-bp-width) {
        display: none;
    }

    &.nav-bar-hidden {
        transform: translateY(calc(-1 * v.$nav-height));
    }

    $gap-distance: 35px;
    // height: v.$nav-height;

    display: flex;
    justify-content: space-between;
    padding: 0 1.5% 0 1.5%;

    #d-nav-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        .logo-text {
            h1 {
                font-size: 40px;
                color: v.$site-black;
            }
        }

        img {
            width: 60px;
            height: 60px;
        }
    }

    #d-nav-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        ul {
            @include v.cleanList;
            @include v.cleanLink;

            display: flex;
            justify-content: space-between;
            align-items: center;

            font-size: 1.1rem;
            font-weight: 100;
            text-align: center;
            line-height: normal;

            gap: $gap-distance;
            padding: 0 $gap-distance;
            

            a {
                color: v.$site-black;
            }
        }

        ul li a {
            position: relative;
        }
        
        ul li a:after {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 0%;
            content: '.';
            color: transparent;
            background: #aaa;
            height: 1px;
            transition: 0.5s;
        }
        
        ul li a:hover:after {
            width: 100%;
        }
        
    }

    #d-nav-socials {
        @include v.cleanList;
        @include v.cleanLink;
        display: flex;
        align-items: center;
        gap: 5px;

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 37px;
            height: 37px;
            background-color: transparent;
            // border-radius: 50%;
            -o-transition: .5s;
            -ms-transition: .5s;
            -moz-transition: .5s;
            -webkit-transition: .5s;
            transition: .1s;

            i {
                color: v.$site-black;
                font-size: larger;
            }

            &.facebook {
                background-color: #3d5b99;

                i {
                    color: white;
                }

            }

            &.linkedin {
                background-color: #0073a4;

                i {
                    color: white;
                }
            }
        }
    }
}

